<div style="margin:20px" class="beliefs">
 <p>The SWEAxis API exposes the entire data set of the suvey in JSON</p> 
 <p><a href="/api/questions.json">http://sweaxis.org/api/questions.json</a></p>
 <p><a href="/api/results.json">http://sweaxis.org/api/results.json</a></p>
</div>
