<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Favorite Language', 'Liberalism'],
      <% data.forEach(function(d, i){ %>
        ["<%= d[0] %>", <%= d[1] %>] <%= i<data.length-1 ? ',' : '' %>
      <% }); %>
    ]);

    var options = {
      hAxis: {title: 'Age', minValue: 0, maxValue: 70},
      vAxis: {title: 'Liberalism', minValue: 0, maxValue: 100},
      pointSize :2,
      legend: 'none'
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
