<div class="preamble">
  <p>
    This is a shareable results page 
  </p>
  <p>
    <input class="copy-result-link" type="text" value="http://sweaxis.org/result/<%= result_id %>" />
  </p>
  <p>
    To get the full result set of the survey enter your email below. We'll send it to you when it's ready.
  </p>
  <p>
    <form action="/email" method="post">
      <input type="text" name="email" />  
      <input type="submit" value="Submit" />
    </form>
  </p>
</div>

<div class="scores">
  <span class="conservative"><%= score.conservatism %>% Conservative</span> 
  and <span class="liberal"><%= score.liberalism %>% Liberal</span>
</div>

<div class="beliefs">
  <%- partial('belief', {collection:beliefs, answers:answers}) %>
</div>
